<div class="w-100 mb-2" *ngIf="searchResult">
  <h5 class="mb-0">
    <img class="me-1" src="assets{{searchResult.programIcon.replace('./images','/images')}}" height="35" width="35" alt="ProgramIcon" />
    <documentInformation-modal-component [informationId]="searchResult.id"></documentInformation-modal-component>
    <small>{{getFileName(searchResult.relativeUrl)}}</small>
  </h5>
  <h6>
    <risprepositorylink-modal-component [content]="searchResult.relativeUrl"></risprepositorylink-modal-component>
    <downloadlink-modal-component [link]="searchResult.absoluteUrl" [fileType]="searchResult.documentType"></downloadlink-modal-component>
  </h6>
  <div class="mb-1">
    <div>
      <small class="text-muted">Inhalt</small>
    </div>
    <ul class="list-group" *ngFor="let content of searchResult.contents">
      <li class="list-group-item py-2 mb-1">
        <small [innerHTML]="content.contentText"></small>
      </li>
    </ul>
  </div>
</div>

