<div class="row border rounded border-color-gray mb-2">
  <h5>Elasticsearch Endpunkte</h5>
  <ng-container *ngFor="let endpoint of elasticEndpoints.controls; index as i">
    <div class="input-group input-group-sm mb-2 mt-2">
      <span class="input-group-text">Node {{i}}</span>
      <input type="text" class="form-control" [formControl]='endpoint | formControlConverter' required>
      <button type="button" [disabled]="returnFalseIfIndexLimit(elasticEndpoints.controls.length, i)"
              (click)="removeElasticInstance(i)" class="btn btn-danger btn-sm">Entfernen
      </button>
    </div>
    <div *ngIf="endpoint | formControlValidator" class="text-danger">
      <small *ngIf="endpoint.errors?.['required']">
        Das Feld für eine Node darf nicht leer sein
      </small>
    </div>
  </ng-container>
  <div class="mb-2">
    <button type="button" (click)="addNewElasticInstance()" class="btn btn-success btn-sm float-end">Node
      hinzufügen
    </button>
  </div>
</div>
