<div class="container">
  <div *ngIf="data">
    <app-schedulerstatistic [response]="data.docSearch_Processing"></app-schedulerstatistic>
    <br />
    <app-schedulerstatistic [response]="data.docSearch_Cleanup"></app-schedulerstatistic>
  </div>
</div>
<ng-container *ngIf="alternateReturn">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="alert alert-danger" role="alert">
        Ein Fehler ist aufgetreten!<br>
        {{alternateReturn.errorMessage}}
      </div>
    </div>
  </div>
</ng-container>
