<ngb-alert class="position-absolute top-0 start-0 w-100" type="warning" *ngIf="!alertClosed" (close)="alertClosed=true">
  <div [innerHTML]="message"></div>
</ngb-alert>
<div class="container">
  <div *ngIf="data">
    <div class="rounded border m-2" *ngIf="data.docSearch_Processing">
      <h6 class="ms-2">{{data.docSearch_Processing.schedulerName}}</h6>
      <div class="rounded border m-3" *ngFor="let trigger of data.docSearch_Processing.triggers">
        <app-detail propertyName="Triggername" propertyValue="{{trigger.triggerName}}"></app-detail>
        <app-detail propertyName="Aktueller Status"
                    propertyValue="{{trigger.currentState}}"></app-detail>
        <app-detail propertyName="Jobname" propertyValue="{{trigger.jobName}}"></app-detail>
        <app-detail propertyName="Gruppenname" propertyValue="{{trigger.groupName}}" [lastElement]=true></app-detail>
        <div class="">
          <div class="btn-group btn-group-sm p-2">
            <button type="button" [disabled]="trigger.currentState === 'Paused'" class="btn btn-warning" (click)="pauseTrigger(trigger.triggerName, trigger.groupName)"><i class="bi bi-pause-btn"></i> Pause</button>
            <button type="button" [disabled]="trigger.currentState === 'Blocked' || trigger.currentState !== 'Paused'" class="btn btn-primary" (click)="resumeTrigger(trigger.triggerName, trigger.groupName)"><i class="bi bi-play-btn"></i> Start</button>
          </div>
          <div class="btn-group btn-group-sm p-2">
            <button type="button" [disabled]="trigger.jobState === 0 || trigger.currentState === 'Paused'" class="btn btn-success" (click)="instantStartJob(trigger.jobName, trigger.groupName)"><i class="bi bi-recycle"></i> Indexieren</button>
            <button type="button" [disabled]="trigger.jobState === 0 || trigger.currentState === 'Paused'" class="btn btn-danger" (click)="reindexAndStartJob(trigger.jobName, trigger.groupName)"><i class="bi bi-exclamation-diamond"></i> Reindexieren</button>
          </div>
        </div>
      </div>
    </div>
    <div class="rounded border m-2" *ngIf="data.docSearch_Cleanup">
      <div class="rounded border m-3" *ngFor="let trigger of data.docSearch_Cleanup.triggers">
        <app-detail propertyName="Triggername" propertyValue="{{trigger.triggerName}}"></app-detail>
        <app-detail propertyName="Aktueller Status" propertyValue="{{trigger.currentState}} ({{trigger.jobState}})"></app-detail>
        <app-detail propertyName="Jobname" propertyValue="{{trigger.jobName}}"></app-detail>
        <app-detail propertyName="Gruppenname" propertyValue="{{trigger.groupName}}" [lastElement]=true></app-detail>
        <div class="">
          <div class="btn-group btn-group-sm p-2">
            <button type="button" [disabled]="trigger.currentState === 'Paused'" class="btn btn-warning" (click)="pauseTrigger(trigger.triggerName, trigger.groupName)"><i class="bi bi-pause-btn"></i> Pause</button>
            <button type="button" [disabled]="trigger.currentState === 'Blocked' || trigger.currentState !== 'Paused'" class="btn btn-primary" (click)="resumeTrigger(trigger.triggerName, trigger.groupName)"><i class="bi bi-play-btn"></i> Start</button>
          </div>
          <div class="btn-group btn-group-sm p-2">
            <button type="button" [disabled]="trigger.jobState === 0 || trigger.currentState === 'Paused'" class="btn btn-success" (click)="instantStartJob(trigger.jobName, trigger.groupName)"><i class="bi bi-recycle"></i> Cleanup</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="alternateReturn">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="alert alert-danger" role="alert">
        Ein Fehler ist aufgetreten!<br>
        {{alternateReturn.errorMessage}}
      </div>
    </div>
  </div>
</ng-container>
