<div *ngIf="documentDetailResponse | async as response; else responseError">
  <div class="modal-header">
    <h4 class="modal-title">Dokumenten-Information für Dokument {{response.fileName}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="input-group col-md-6 mb-2">
        <div class="input-group-text">Id</div>
        <input type="text" disabled class="form-control" value="{{response.id}}">
      </div>
    </div>
    <div class="form-row">
      <div class="input-group mb-2 col-md-6 ">
        <span class="input-group-text">Ersteller</span>
        <input type="text" disabled class="form-control me-1" value="{{response.creator}}">
        <span class="input-group-text">Am</span>
        <input type="text" disabled class="form-control" value="{{response.created | date:'dd.MM.yyyy hh:mm:ss '}}">
      </div>
    </div>
    <div class="form-row">
      <div class="input-group mb-2 col-md-6 ">
        <span class="input-group-text">Zuletzt geändert von:</span>
        <input type="text" disabled class="form-control me-1" value="{{response.lastModifiedBy}}">
        <span class="input-group-text">Am</span>
        <input type="text" disabled class="form-control" value="{{response.lastModified | date:'dd.MM.yyyy hh:mm:ss '}}">
      </div>
    </div>
    <div class="form-row">
      <div class="input-group mb-2 col-md-6 ">
        <span class="input-group-text">Titel</span>
        <input type="text" disabled class="form-control me-1" value="{{response.title}}">
        <span class="input-group-text">Betreff</span>
        <input type="text" disabled class="form-control" value="{{response.subject}}">
      </div>
    </div>
    <div class="form-row">
      <div class="input-group mb-2 col-md-6 ">
        <span class="input-group-text">Version</span>
        <input type="text" disabled class="form-control me-1" value="{{response.version}}">
        <span class="input-group-text">Revision</span>
        <input type="text" disabled class="form-control" value="{{response.revision}}">
      </div>
    </div>
    <div class="form-row">
      <div class="input-group mb-2 col-md-6 ">
        <span class="input-group-text">Letzter Ausdruck</span>
        <input type="text" disabled class="form-control me-1" value="{{response.lastPrinted | date:'dd.MM.yyyy hh:mm:ss '}}">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Schließen</button>
  </div>
</div>
<ng-template #responseError>
  <div class="modal-header">
    <div class="modal-header">
      <h4 class="modal-title">Ein Problem ist aufgetreten</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <ngb-alert type="warning" *ngIf="!closed" (close)="closed=true">
        Keine Dokumentendetails für die Dokumenten-Id <strong>{{informationId}}</strong> gefunden
      </ngb-alert>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Schließen</button>
    </div>
  </div>
</ng-template>
