<div class="modal-header">
  <h4 class="modal-title">Such- und Filter-Optionen</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div *ngIf="localStorageDataSet; else noLocalStorageDataset" ngbDropdown class="mb-2 pb-2 border-2 border-bottom border-light">
    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Anzahl der
      Suchergebnisse ({{localStorageDataSet.itemsPerPage}})
    </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <ng-container *ngFor="let item of itemsPerPageCountArray()">
          <button ngbDropdownItem (click)="clickDropDown(item)" [ngClass]="itemsClassesPerCondition(item)">{{item}}</button>
        </ng-container>
      </div>
  </div>
  <div class="form-check mb-2 pb-2 border-2 border-bottom border-light">
    <input class="form-check-input" type="checkbox" value="" id="wordFilter"
           [(ngModel)]="localStorageDataSet.filterWord"
           (change)="clickSaveLocalStorage()"
           [checked]="localStorageDataSet.wordFilterActive && localStorageDataSet.filterWord"
           [disabled]="disableItemWhileCondition(docType.Word)">
    <label class="form-check-label" for="wordFilter">
      Word-Dokumente durchsuchen
    </label>
  </div>
  <div class="form-check mb-2 pb-2 border-2 border-bottom border-light">
    <input class="form-check-input" type="checkbox" value="" id="excelFilter"
           [(ngModel)] = "localStorageDataSet.filterExcel"
           (change) = "clickSaveLocalStorage()"
           [checked]="localStorageDataSet.excelFilterActive && localStorageDataSet.filterExcel"
           [disabled]="disableItemWhileCondition(docType.Excel)">
    <label class="form-check-label" for="excelFilter">
      Excel-Dokumente durchsuchen
    </label>
  </div>
  <div class="form-check mb-2 pb-2 border-2 border-bottom border-light">
    <input class="form-check-input" type="checkbox" value="" id="powerpointFilter"
           [(ngModel)] = "localStorageDataSet.filterPowerpoint"
           (change) = "clickSaveLocalStorage()"
           [checked]="localStorageDataSet.powerpointFilterActive && localStorageDataSet.filterPowerpoint"
           [disabled]="disableItemWhileCondition(docType.Powerpoint)">
    <label class="form-check-label" for="powerpointFilter">
      Powerpoint-Dokumente durchsuchen
    </label>
  </div>
  <div class="form-check mb-2 pb-2 border-2 border-bottom border-light">
    <input class="form-check-input" type="checkbox" value="" id="pdfFilter"
           [(ngModel)] = "localStorageDataSet.filterPdf"
           (change)= "clickSaveLocalStorage()"
           [checked]="localStorageDataSet.pdfFilterActive && localStorageDataSet.filterPdf"
           [disabled]="disableItemWhileCondition(docType.Pdf)">
    <label class="form-check-label" for="pdfFilter">
      Pdf-Dokumente durchsuchen
    </label>
  </div>
  <div class="form-check mb-2 pb-2 border-2 border-bottom border-light">
    <input class="form-check-input" type="checkbox" value="" id="emlFilter"
           [(ngModel)] = "localStorageDataSet.filterEml"
           (change)="clickSaveLocalStorage()"
           [checked]="localStorageDataSet.emlFilterActive && localStorageDataSet.filterEml"
           [disabled]="disableItemWhileCondition(docType.Eml)">
    <label class="form-check-label" for="emlFilter">
      Email-Dokumente (eml) durchsuchen
    </label>
  </div>
  <div class="form-check mb-2 pb-2 border-2 border-bottom border-light">
    <input class="form-check-input" type="checkbox" value="" id="msgFilter"
           [(ngModel)] = "localStorageDataSet.filterMsg"
           (change)="clickSaveLocalStorage()"
           [checked]="localStorageDataSet.msgFilterActive && localStorageDataSet.filterMsg"
           [disabled]="disableItemWhileCondition(docType.Msg)">
    <label class="form-check-label" for="msgFilter">
      Email-Dokumente (msg) durchsuchen
    </label>
  </div>
  <ng-template #noLocalStorageDataset>

  </ng-template>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Schließen</button>
</div>
