@model DocSearchAIO.DocSearch.TOs.SearchStatisticsModel

<div class="w-50 mx-auto d-flex justify-content-center">
    @if (Model.DocCount == 0)
    {
        <span id="suggestedDocCount">Keine Ergebnisse vorhanden (@Model.SearchTime ms)</span>        
    }
    else
    {
        <span id="suggestedDocCount">@Model.DocCount Dokumente</span><span class="mr-1 ml-1">|</span><span id="searchTime">Suchzeit @Model.SearchTime ms</span>
    }

</div>