@model DocSearchAIO.DocSearch.TOs.SearchStatisticsModel

<div class="w-50 mx-auto d-flex justify-content-center">
    <span id="suggestedDocCount">@Model.DocCount Dokumente</span>&nbsp;|&nbsp;<span id="searchTime">Suchzeit @Model.SearchTime ms</span>
</div>