<div class="container">
  <div *ngIf="data">
    <div class="rounded border m-3">
      <app-detail propertyName="Anzahl Dokumente im Index" propertyValue="{{data.entireDocCount}}"></app-detail>
      <app-detail propertyName="Gesamtgröße des Index" propertyValue="{{data.entireSizeInBytes | BytesVisualizer}}"
                  [lastElement]=true></app-detail>
    </div>
    <div class="rounded border m-2" *ngIf="data.indexStatisticModels && data.indexStatisticModels.length > 0">
      <h6 class="ms-2">IndexStatistiken</h6>
      <div class="rounded border m-3" *ngFor="let element of data.indexStatisticModels">
        <app-detail propertyName="Indexname" propertyValue="{{element.indexName}}"></app-detail>
        <app-detail propertyName="Anzahl Dokumente" propertyValue="{{element.docCount}}"></app-detail>
        <app-detail propertyName="Indexgröße" propertyValue="{{element.sizeInBytes | BytesVisualizer}}"></app-detail>
        <app-detail propertyName="Anzahl Anfragen" propertyValue="{{element.fetchTotal}}"></app-detail>
        <app-detail propertyName="Anfragezeit in ms" propertyValue="{{element.fetchTimeMs}}"></app-detail>
        <app-detail propertyName="Anzahl Suchen" propertyValue="{{element.queryTotal}}"></app-detail>
        <app-detail propertyName="Suchzeit in ms" propertyValue="{{element.queryTimeMs}}"></app-detail>
        <app-detail propertyName="Anzahl Suggests" propertyValue="{{element.suggestTotal}}"></app-detail>
        <app-detail propertyName="Suggestzeit in ms" propertyValue="{{element.suggestTimeMs}}" [lastElement]=true></app-detail>
      </div>
    </div>
    <div class="rounded border m-2" *ngIf="data.runtimeStatistics">
      <h6 class="ms-2">Laufzeitstatistiken</h6>
      <div class="rounded border m-3" *ngFor="let element of data.runtimeStatistics | keyvalue">
        <h6 class="small ms-2">{{element.key}}</h6>
        <app-detail propertyName="Id" propertyValue="{{element.value.id}}"></app-detail>
        <app-detail propertyName="Jobstart" propertyValue="{{element.value.startJob | date:'medium':'+02:00':'de'}}"></app-detail>
        <app-detail propertyName="Jobende" propertyValue="{{element.value.endJob | date:'medium':'+02:00':'de'}}"></app-detail>
        <app-detail propertyName="Gesamtanzahl Dokumente" propertyValue="{{element.value.entireDocCount}}"></app-detail>
        <app-detail propertyName="Indexierte Dokumente" propertyValue="{{element.value.indexedDocCount}}"></app-detail>
        <app-detail propertyName="Laufzeit in ms" propertyValue="{{element.value.elapsedTimeMillis}}"></app-detail>
        <app-detail propertyName="Anzahl Fehler" propertyValue="{{element.value.processingError}}" [lastElement]="true"></app-detail>
        <div class="rounded border m-2" *ngIf="element.value.cacheEntry">
          <h6 class="small ms-2">Cache-Statistik</h6>
          <app-detail propertyName="Cache-Key" propertyValue="{{element.value.cacheEntry.cacheKey}}"></app-detail>
          <app-detail propertyName="Job-Status" propertyValue="{{element.value.cacheEntry.jobState}}"></app-detail>
          <app-detail propertyName="Datum" propertyValue="{{element.value.cacheEntry.dateTime  | date:'medium':'+02:00':'de'}}"></app-detail>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="alternateReturn">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="alert alert-danger" role="alert">
        Ein Fehler ist aufgetreten!<br>
        {{alternateReturn.errorMessage}}
      </div>
    </div>
  </div>
</ng-container>
