<div class="container">
  <div *ngIf="data">
    <div class="rounded border m-3">
      <app-detail propertyName="Anzahl Dokumente im Index" propertyValue="{{data.entireDocCount}}"></app-detail>
      <app-detail propertyName="Gesamtgröße des Index" propertyValue="{{data.entireSizeInBytes | BytesVisualizer}}" [lastElement]=true></app-detail>
    </div>
    <div class="rounded border m-3" *ngFor="let element of data.runtimeStatistics | keyvalue">
      <h6>{{element.key}}</h6>


    </div>
  </div>
</div>
<ng-container *ngIf="alternateReturn">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="alert alert-danger" role="alert">
        Ein Fehler ist aufgetreten!<br>
        {{alternateReturn.errorMessage}}
      </div>
    </div>
  </div>
</ng-container>
