.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.95);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #414141;
  display: block;
  transition: 0.3s;
}

.sidenav-option-in {
  width: 15%;
  box-shadow: 10px 0 15px 0 #bebebe;
  border-right: #bebebe 1px solid;
  transition-delay: 0s;
}

.sidenav-option-out {
  width: 0;
  box-shadow: none;
  border-right: none;
  transition-delay: 0.5s;
}

.fade-out {
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  opacity: 1;
}

@keyframes fadeOutOpacity {
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation-delay: 0.5s;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  opacity: 0;
}

@keyframes fadeInOpacity {
  100% {
    opacity: 1;
  }
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closeButton {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 14px;
  margin-left: 0;
}

.sidenav .searchButton {
  position: absolute;
  right: 0.5em;
  font-size: 14px;
  margin-left: 0;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
