<div id="mySidenav" class="sidenav">
  <div id="fader">
    <div *ngIf="localStorageDataSet; else noLocalStorageDateset">
      <button class="btn btn-secondary closeButton" (click)="closeNav()"><em class="bi bi-arrow-left"></em> Schließen
      </button>
      <div ngbDropdown class="d-inline-block ms-2 mb-1">
        <button type="button" class="btn btn-sm btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Anzahl der
          Suchergebnisse ({{localStorageDataSet.itemsPerPage}})
        </button>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownBasic1">
          <ng-container *ngFor="let item of itemsPerPageCountArray()">
            <button ngbDropdownItem (click)="clickDropDown(item)" [ngStyle]="itemsStylePerCondition(item)"
                    [ngClass]="itemsClassesPerCondition(item)">{{item}}</button>
          </ng-container>
        </div>
      </div>

      <div class="form-check mt-2 mb-2 border-2 border-bottom border-light">
        <div class="ms-2 mt-2 mb-2">Dokumente durchsuchen</div>
        <div class="form-check ms-2 mb-2 d-flex align-items-center">
          <input class="form-check-input mb-2 me-2" type="checkbox" value="" id="wordFilter"
                 [(ngModel)]="localStorageDataSet.filterWord"
                 (change)="clickSaveLocalStorage()"
                 [checked]="localStorageDataSet.wordFilterActive && localStorageDataSet.filterWord"
                 [disabled]="disableItemWhileCondition(docType.Word)">
          <img src="assets/images/word.svg" alt="Word" style="width: 35px">
          <label class="form-check-label ms-2" for="wordFilter">Word</label>
        </div>
        <div class="form-check ms-2 mb-2 d-flex align-items-center">
          <input class="form-check-input mb-2 me-2" type="checkbox" value="" id="excelFilter"
                 [(ngModel)]="localStorageDataSet.filterExcel"
                 (change)="clickSaveLocalStorage()"
                 [checked]="localStorageDataSet.excelFilterActive && localStorageDataSet.filterExcel"
                 [disabled]="disableItemWhileCondition(docType.Excel)">
          <img src="assets/images/excel.svg" style="width: 35px" alt="Excel">
          <label class="form-check-label ms-2" for="excelFilter">
            Excel
          </label>
        </div>
        <div class="form-check ms-2 mb-2 d-flex align-items-center">
          <input class="form-check-input mb-2 me-2" type="checkbox" value="" id="powerpointFilter"
                 [(ngModel)]="localStorageDataSet.filterPowerpoint"
                 (change)="clickSaveLocalStorage()"
                 [checked]="localStorageDataSet.powerpointFilterActive && localStorageDataSet.filterPowerpoint"
                 [disabled]="disableItemWhileCondition(docType.Powerpoint)">
          <img src="assets/images/powerpoint.svg" style="width: 35px" alt="Powerpoint">
          <label class="form-check-label ms-2" for="powerpointFilter">
            Powerpoint
          </label>
        </div>
        <div class="form-check ms-2 mb-2 d-flex align-items-center">
          <input class="form-check-input mb-2 me-3" type="checkbox" value="" id="pdfFilter"
                 [(ngModel)]="localStorageDataSet.filterPdf"
                 (change)="clickSaveLocalStorage()"
                 [checked]="localStorageDataSet.pdfFilterActive && localStorageDataSet.filterPdf"
                 [disabled]="disableItemWhileCondition(docType.Pdf)">
          <img src="assets/images/pdf.svg" style="width: 30px" alt="Pdf">
          <label class="form-check-label ms-2" for="pdfFilter">
            Pdf
          </label>
        </div>
        <div class="form-check ms-2 mb-2 d-flex align-items-center">
          <input class="form-check-input mb-2 me-3" type="checkbox" value="" id="msgFilter"
                 [(ngModel)]="localStorageDataSet.filterMsg"
                 (change)="clickSaveLocalStorage()"
                 [checked]="localStorageDataSet.msgFilterActive && localStorageDataSet.filterMsg"
                 [disabled]="disableItemWhileCondition(docType.Msg)">
          <img src="assets/images/outlook2.svg" style="width: 30px" alt="Msg">
          <label class="form-check-label ms-2" for="msgFilter">
            Msg
          </label>
        </div>
        <div class="form-check ms-2 mb-2 d-flex align-items-center">
          <input class="form-check-input mb-2 me-3" type="checkbox" value="" id="emlFilter"
                 [(ngModel)]="localStorageDataSet.filterEml"
                 (change)="clickSaveLocalStorage()"
                 [checked]="localStorageDataSet.emlFilterActive && localStorageDataSet.filterEml"
                 [disabled]="disableItemWhileCondition(docType.Eml)">
          <img src="assets/images/eml.svg" style="width: 30px" alt="Eml">
          <label class="form-check-label ms-2" for="emlFilter">
            Eml
          </label>
        </div>
      </div>
      <button class="btn btn-secondary searchButton" (click)="doSearch()"><em class="bi-arrow-clockwise"></em>
        Aktualisieren
      </button>
    </div>
  </div>
  <ng-template #noLocalStorageDateset>
    <p>Fehler beim laden der Einstellungen</p>
  </ng-template>
</div>

<button class="btn btn-secondary ms-1 me-1" (click)="openNav()"><em class="bi bi-ui-checks"></em> Optionen</button>
