.suggestNav {
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 400px;
  height: 250px;
  overflow: auto;
  overflow-y: visible;
  z-index: 9999;
  background-color: rgba(255,255,255,0.95);
  transition: 0.5s;
}

.suggest-open {
  animation: myAnimIn;
  animation-duration: 0.25s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

.suggest-close {
  animation: myAnimOut;
  animation-duration: 0.25s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes myAnimIn {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 100% 0;
  }
}

@keyframes myAnimOut {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 0;
  }

  100% {
    transform: scaleY(0);
    transform-origin: 100% 0;
  }
}
