<div class="row border rounded border-color-gray mb-2" [formGroup]="formGroup">
  <div class="input-group input-group-sm mb-2 mt-2 col">
    <span class="input-group-text">{{name}}</span>
    <input formControlName="{{id}}" id="scanPath" type="text" class="form-control">
  </div>
  <div *ngIf="formGroup.controls[id] | formControlValidator" class="text-danger">
    <small *ngIf="formGroup.controls[id].errors?.['required']">
      Das Feld {{name}} muss ausgefüllt sein!
    </small>
  </div>
</div>
