<div class="input-group rounded w-50 mx-auto d-flex justify-content-center">
  <div class="input-group">
    <span class="input-group-text" id="basic-addon1"><em class="bi bi-search"></em></span>
    <input class="form-control" id="searchField" placeholder="Suchtext" type="text" [(ngModel)]="searchTerm">
    <div class="ms-1">
      <button class="btn btn-secondary" type="button" (click)="doSearch()">
        <em class="bi bi-search"></em> Suchen
      </button>
    </div>
    <div class="ms-1">
      <button class="btn btn-secondary"  type="button">
        <em class="bi bi-ui-checks"></em> Optionen
      </button>
    </div>
  </div>
</div>
