<div class="container">
  <div id="logo" class="w-50 mx-auto d-flex justify-content-center">
    <img src="/assets/images/docsearch.png" alt="Logo"/>
  </div>
  <div class="input-group rounded w-50 mx-auto d-flex justify-content-center mb-2">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1"><em class="bi bi-search"></em></span>
      <input class="form-control" id="searchField" placeholder="Suchtext" type="text" (ngModelChange)="keyPressed($event)" (keydown.escape)="pressEscape()" (keydown.enter)="doSearch(0, localStorageDataset.itemsPerPage)" [(ngModel)]="searchTerm">
      <app-suggestion></app-suggestion>
      <div class="ms-2">
        <button class="btn btn-secondary" type="button" (click)="doSearch(0, localStorageDataset.itemsPerPage)">
          <em class="bi bi-search"></em> Suchen
        </button>
      </div>
      <div class="ms-2">
        <app-offcanvas (doSearchEvent)="handleExternalSearch($event)" [localStorageDataSet]="localStorageDataset"></app-offcanvas>
      </div>
    </div>
  </div>
</div>
<ngbd-alert-selfclosing></ngbd-alert-selfclosing>
<div class="container" *ngIf="searchResponse | async as response">
  <div class="w-50 mx-auto d-flex justify-content-center mb-2" *ngIf="response">
    <ng-container *ngIf="response.statistics.docCount===0">
      <span>Keine Ergebnisse vorhanden ({{response.statistics.searchTime}} ms)</span>
    </ng-container>
    <ng-container *ngIf="response.statistics.docCount>0">
      <span>{{response.statistics.docCount}} Dokumente</span><span
      class="ms-1 me-1">|</span><span>Suchzeit {{response.statistics.searchTime}} ms</span>
    </ng-container>
  </div>

  <div class="input-group rounded w-50 mx-auto d-flex justify-content-center mt-2" *ngIf="response">
    <nav aria-label="Main-Navigation">
      <ul class="pagination">
        <ng-container
          *ngIf="(getCurrentPageNumber(response.searchResult) > 1 && this.getPagingCount(response.searchResult) > 1); else noLeftLink">
          <li class="page-item">
            <div class="page-link" style="cursor: pointer"
               (click)="doSearch(getCurrentPageNumber(response.searchResult) - 2, response.searchResult.currentPageSize)" aria-label="Zurück">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Zurück</span>
            </div>
          </li>
        </ng-container>
        <ng-template #noLeftLink>
          <li class="page-item disabled">
            <div class="page-link" tabindex="-1">
              <span class="me-1" aria-hidden="true">&laquo;</span><span class="sr-only">Zurück</span>
            </div>
          </li>
        </ng-template>
        <ng-container
          *ngIf="response.searchResult.docCount === 0 || response.searchResult.docCount <= response.searchResult.currentPageSize">
          <li class="page-item disabled">
            <div class="page-link" tabindex="-1">
              <span aria-hidden="true" class="sr-only">1</span>
            </div>
          </li>
        </ng-container>

        <ng-container *ngFor="let e of getNgForCounter(getPagingCount(response.searchResult)); let x = index">
          <ng-container *ngIf="getPagingCount(response.searchResult) > 12; else pagingCountElse">
            <ng-container *ngIf="x + 1 === 1 || x + 1 >= getPagingCount(response.searchResult); else ngInnerElse">
              <ng-container
                *ngIf="x * response.searchResult.currentPageSize === response.searchResult.currentPage || (x + 1) === response.searchResult.currentPage ; else pagerElsePart">
                <li class="page-item active">
                  <div class="page-link"><span aria-hidden="true">{{x + 1}}</span></div>
                </li>
              </ng-container>
              <ng-template #pagerElsePart>
                <li class="page-item"><div class="page-link" style="cursor: pointer" (click)="doSearch(x, response.searchResult.currentPageSize)">{{x + 1}}</div>
                </li>
              </ng-template>
            </ng-container>
            <ng-template #ngInnerElse>
              <ng-container *ngIf="x + 1 === getCurrentPageNumber(response.searchResult) - 2">
                <li class="page-item">
                  <div class="page-link"><span aria-hidden="true">&nbsp;</span></div>
                </li>
                <ng-container
                  *ngIf="x * response.searchResult.currentPageSize === response.searchResult.currentPage; else pagerElsePart">
                  <li class="page-item active">
                    <div class="page-link"><span aria-hidden="true">{{x + 1}}</span></div>
                  </li>
                </ng-container>
                <ng-template #pagerElsePart>
                  <li class="page-item"><div class="page-link" style="cursor: pointer"
                                           (click)="doSearch(x, response.searchResult.currentPageSize)">{{x + 1}}</div></li>
                </ng-template>
              </ng-container>
              <ng-container
                *ngIf="x + 1 === getCurrentPageNumber(response.searchResult) || x + 1 === getCurrentPageNumber(response.searchResult) - 1 || x + 1 === getCurrentPageNumber(response.searchResult) + 1">
                <ng-container
                  *ngIf="x * response.searchResult.currentPageSize === response.searchResult.currentPage; else pagerElsePart">
                  <li class="page-item active">
                    <div class="page-link"><span aria-hidden="true">{{x + 1}}</span></div>
                  </li>
                </ng-container>
                <ng-template #pagerElsePart>
                  <li class="page-item"><div class="page-link" style="cursor:pointer"
                                           (click)="doSearch(x, response.searchResult.currentPageSize)">{{x + 1}}</div></li>
                </ng-template>
              </ng-container>
              <ng-container *ngIf="x + 1 === getCurrentPageNumber(response.searchResult) + 2">
                <ng-container
                  *ngIf="x * response.searchResult.currentPageSize === response.searchResult.currentPage; else pagerElsePart">
                  <li class="page-item active">
                    <div class="page-link"><span aria-hidden="true">{{x + 1}}</span></div>
                  </li>
                </ng-container>
                <ng-template #pagerElsePart>
                  <li class="page-item"><div class="page-link" style="cursor: pointer"
                                           (click)="doSearch(x, response.searchResult.currentPageSize)">{{x + 1}}</div></li>
                </ng-template>
                <li class="page-item">
                  <div class="page-link"><span aria-hidden="true">&nbsp;</span></div>
                </li>
              </ng-container>
            </ng-template>
          </ng-container>
          <ng-template #pagingCountElse>
            <ng-container
              *ngIf="x * response.searchResult.currentPageSize === response.searchResult.currentPage; else pagerElsePart">
              <li class="page-item active">
                <div class="page-link"><span aria-hidden="true">{{x + 1}}</span></div>
              </li>
            </ng-container>
            <ng-template #pagerElsePart>
              <li class="page-item"><div class="page-link" style="cursor: pointer" (click)="doSearch(x, response.searchResult.currentPageSize)">{{x + 1}}</div>
              </li>
            </ng-template>
          </ng-template>
        </ng-container>

        <ng-container
          *ngIf="(getCurrentPageNumber(response.searchResult) < getPagingCount(response.searchResult)); else noRightLink">
          <li class="page-item">
            <div class="page-link" style="cursor: pointer"
               (click)="doSearch(getCurrentPageNumber(response.searchResult), response.searchResult.currentPageSize)" aria-label="Vor">
              <span class="sr-only">Vor</span>
              <span aria-hidden="true">&raquo;</span>
            </div>
          </li>
        </ng-container>
        <ng-template #noRightLink>
          <li class="page-item disabled">
            <div class="page-link" tabindex="-1">
              <span class="sr-only me-1">Vor</span><span aria-hidden="true">&raquo;</span>
            </div>
          </li>
        </ng-template>

      </ul>
    </nav>
  </div>

  <div class="col-12 mt-4" *ngIf="response">
    <ng-container *ngIf="response.searchResults.length > 0; else noResults">
      <ng-container *ngFor="let result of response.searchResults">
        <app-resultpage [searchResult]="result"></app-resultpage>
      </ng-container>
    </ng-container>
    <ng-template #noResults>
      <ngbd-alert-selfclosing [timeout]="3000" message="Keine Treffer für die Suchanfrage <b>{{response.searchResult.searchPhrase}}</b> gefunden"></ngbd-alert-selfclosing>
    </ng-template>
  </div>
</div>
