<div class="rounded border m-3">
  <app-detail propertyName="Triggername" propertyValue="{{triggerElement.triggerName}}"></app-detail>
  <app-detail propertyName="Triggerbeschreibung" propertyValue="{{triggerElement.description}}"></app-detail>
  <app-detail propertyName="Trigger Jobname" propertyValue="{{triggerElement.jobName}}"></app-detail>
  <app-detail propertyName="Trigger Gruppenname" propertyValue="{{triggerElement.groupName}}"></app-detail>
  <app-detail propertyName="Trigger Status" propertyValue="{{triggerElement.triggerState}}"></app-detail>
  <app-detail propertyName="Trigger Startzeit" propertyValue="{{triggerElement.startTime | date:'medium':'+02:00':'de'}}"></app-detail>
  <app-detail propertyName="Trigger Nächster Start" propertyValue="{{triggerElement.nextFireTime | date:'medium':'+02:00':'de'}}"></app-detail>
  <app-detail propertyName="Trigger Vorheriger Start" propertyValue="{{triggerElement.lastFireTime | date:'medium':'+02:00':'de'}}" [lastElement]=true></app-detail>
</div>
